{% extends 'back.html.twig' %}
{% block title %} Espace Admin - Accueil {% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <p>Hi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

{% endblock %}